body{
    background-color: #151627;
}

span{
  color: lightgreen;
}

.titulo-principal{
    max-width: 800px;
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    overflow: hidden;
}

.titulo-principal:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

#logo{
    color: white; 
    font-size: 26 px; 
    font-family: 'Quantico', sans-serif;
    transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s;
}

#logo:hover{
  transform: scale(1.05);
}

.title{
  color: #C55225; 
  font-size: 50px; 
  font-family: 'Quantico', sans-serif;
}

#minhas_conquistas{
  text-align: center;
  color: #C55225; 
  font-size: 50px; 
  font-family: 'Quantico', sans-serif;
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-size: 20px;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px; 
  background-color: #C55225; 
  transition: width 0.3s ease; 
}

.navbar-nav .nav-link:hover::before {
  width: 100%; 
}

.navbar-nav .nav-item:not(:last-child) .nav-link::before {
  margin-right: 10px; 
}

.servicos_oferecidos{
  width: 100%; 
  background-color: #1d1e31; 
  margin-bottom: 5%;
  margin-top: 5%;
}

.certificados{
  width: 90%; 
  background-color: #1d1e31; 
  margin-top: 5%; 
  margin: auto;
}

.certificado{
  border: none;
  text-align: center;
}


.certificados-servicos{
  width: 100%; 
  overflow: hidden;
  background-color: #1d1e31; 
  margin-top: 5%; 
}

.img-certificado{
  height: 350px;
}

.title{
  width: 100%; 
  margin-top: 5%; 
  margin-bottom: 5%;
  font-size: 50px;
}

.stacks{
  position: relative;
  text-decoration: none;
  color: #C55225;
  transition: color 0.3s ease; 
  font-size: 50px;
}

#projetos{
  position: relative;
  text-decoration: none;
  color: #C55225;
  transition: color 0.3s ease; 
  font-size: 50px;
}



#sobre_mim{
  text-align: center; 
  font-family: 'Quantico', sans-serif; 
  color:#C55225;
  font-size: 50px;
}


.topicos-servicos{
  text-align: center; 
  color: #C55225; 
  font-family: 'Quantico', sans-serif;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.card{
    background-color: #151627;
    color: white;
}

.ver-projetos {
  background-color: #C55225;
  color: #151627;
  font-weight: bold;
  padding: 1.5%;
  font-size: 22px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.ver-projetos:hover {
  background-color: #f76931;
  color: #151627; 
}

.servicos{
  width: 90%; 
  margin-top: 5%; 
  margin-left: 5%;
}
#servicos_oferecidos{
  text-align: center; 
  font-size: 50px; 
  color: #C55225; 
  font-family: 'Quantico', sans-serif;
  width: 100%;
  margin: auto;
}

.servicos-container{
  border: none; 
  background-color: #1d1e31;
}

.carousel-item{
  margin-left: 2%;
}

.servicos-texto{
  text-align: center; 
  color: #fff;
}

.img-servicos{
  width: 150px; 
  height: 150px; 
  margin: auto;
}

.icones-tecnologias{
  color: white; 
  font-size: 60px;
}

.icones-tecnologias:hover{
  color:#C55225;
}

.hidden-card{
  display: none;
}

#mostrarTodos, #ocultarTodos{
  font-size: 50px;
  text-align: center;
  margin: auto;
  background: none;
  border: none;
  width: 5%;
  color: #C55225;

}

#programmer{
  width: 600px; 
  height: 400px;
}



.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
background-color: #dd4b39;
width: 6vh;
height: 6vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}
@media (min-width: 768px) {
.carousel-item {
margin-right: 0;
flex: 0 0 33.333333%;
display: block;
}
.carousel-inner {
display: flex;
}
}
.card .img-wrapper {
max-width: 100%;
height: 13em;
display: flex;
justify-content: center;
align-items: center;
}

.img-projeto{
height: 300px;
}



.card img {
max-height: 100%;
}

.float{
position:fixed;
width:70px;
height:70px;
bottom:40px;
right:40px;
background-color:#0C9;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
z-index: 99999;
font-size: 32px;
}

.my-float{
margin-top:22px;
}



@media (max-width: 767px) {
.card .img-wrapper {
height: 17em;
}
}




@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

.pulse-image {
  animation: pulse 2s infinite;
}

.animated-image {
  animation: rotate 10s linear infinite;
}

@media(max-width: 376px){

  *{
    overflow-x: hidden;
  }
  
  .container{
    text-align: center;
    margin: auto;
    overflow: hidden;
  }

  .img-projeto{
    height: 200px;
  }

  .title{
    text-align: center;
    overflow-y: hidden;
  }

  #logo{
    text-align: left;
    overflow: hidden;
  }

  .servicos-container{
    margin-top: 25%;
  }

  .img-certificado{
    height: 250px;
  }

  #programmer{
    display: none;
  }

  .img-email{
    width: 275px;
    height: 275px;
  }

  .float{
    position: fixed;
    width:65px;
    height:65px;
    font-size: 30px;
    margin: auto;
    overflow: hidden;
  }

  .img-email{
    display: none;
  }
}



@media(min-width: 376px) and (max-width: 415px){

  *{
    overflow-x: hidden;
  }

  .inicio{
    text-align: center;
  }

  #programmer{
    height: 250px;
  }


  .img-email{
    display: none;
  }

  .form-contato{
    width: 100%;
    margin: auto;
  }

  .titulo-dinamico{
    height: 150px;
  }

  .img-certificado{
    height: 225px;
  }

  #mostrarTodos{
    position: fixed;
  }

  .title{
    text-align: center;
    overflow-y: hidden;
  }
}